In [2]:
import pandas as pd

### Type of tasks

* Classification
* Regresssion

### Supervisory Signals

* Supervised - supervisory signal available
* Semi-supervised - supervisory signal only for few data-points
* Unsupervised - no supervisory signal
* Reinforcement Learning

training data = (features + targets/labels/supervisory signals)

### Capcity of learning algorithm
* Linear algorithm
* Non-linear algorithms

In [5]:
import pandas as pd
import numpy as np
import sklearn

from sklearn.datasets import load_iris

In [9]:
dataset = load_iris()
df = pd.DataFrame(np.c_[dataset['data'], dataset['target']], columns= dataset['feature_names'] + ['target'])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [10]:
df.columns[df.isnull().any()]

Index([], dtype='object')

In [11]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [12]:
features = ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
df[features].head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [14]:
df['dsfsdf'] = 1
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,dsfsdf
0,5.1,3.5,1.4,0.2,0.0,1
1,4.9,3.0,1.4,0.2,0.0,1
2,4.7,3.2,1.3,0.2,0.0,1
3,4.6,3.1,1.5,0.2,0.0,1
4,5.0,3.6,1.4,0.2,0.0,1

In [15]:
df = df.drop(columns=['dsfsdf'])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [20]:
df.groupby('target').agg(['mean', 'max', 'min'])

       sepal length (cm)           sepal width (cm)            \
                    mean  max  min             mean  max  min
target
0.0                5.006  5.8  4.3            3.428  4.4  2.3
1.0                5.936  7.0  4.9            2.770  3.4  2.0
2.0                6.588  7.9  4.9            2.974  3.8  2.2

       petal length (cm)           petal width (cm)
                    mean  max  min             mean  max  min
target
0.0                1.462  1.9  1.0            0.246  0.6  0.1
1.0                4.260  5.1  3.0            1.326  1.8  1.0
2.0                5.552  6.9  4.5            2.026  2.5  1.4

In [40]:
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import MinMaxScaler

mapper = DataFrameMapper(
    [
        (['sepal length (cm)'], MinMaxScaler(), {'alias': 'sepal length (cm)_scaled'}),
        (['sepal width (cm)'], MinMaxScaler(), {'alias': 'sepal width (cm)_scaled'}),
        (['petal length (cm)'], MinMaxScaler(), {'alias': 'petal length (cm)_scaled'}),
        (['petal width (cm)'], MinMaxScaler(), {'alias': 'petal width (cm)_scaled'}),
        (['target'], None),
    ],
    df_out=True
)

df_train =  mapper.fit_transform(df)
df_train

,sepal length (cm)_scaled,sepal width (cm)_scaled,petal length (cm)_scaled,petal width (cm)_scaled,target
0,0.222222,0.625000,0.067797,0.041667,0.0
1,0.166667,0.416667,0.067797,0.041667,0.0
2,0.111111,0.500000,0.050847,0.041667,0.0
3,0.083333,0.458333,0.084746,0.041667,0.0
4,0.194444,0.666667,0.067797,0.041667,0.0
5,0.305556,0.791667,0.118644,0.125000,0.0
6,0.083333,0.583333,0.067797,0.083333,0.0
7,0.194444,0.583333,0.084746,0.041667,0.0
8,0.027778,0.375000,0.067797,0.041667,0.0
9,0.166667,0.458333,0.084746,0.000000,0.0
10,0.305556,0.708333,0.084746,0.041667,0.0
11,0.138889,0.583333,0.101695,0.041667,0.0
12,0.138889,0.416667,0.067797,0.000000,0.0
13,0.000000,0.416667,0.016949,0.000000,0.0
14,0.416667,0.833333,0.033898,0.041667,0.0
15,0.388889,1.000000,0.084746,0.125000,0.0
16,0.305556,0.791667,0.050847,0.125000,0.0
17,0.222222,0.625000,0.067797,0.083333,0.0
18,0.388889,0.750000,0.118644,0.083333,0.0
19,0.222222,0.750000,0.084746,0.083333,0.0
20,0.305556,0.583333,0.118644,0.041667,0.0
21,0.222222,0.708333,0.084746,0.125000,0.0
22,0.083333,0.666667,0.000000,0.041667,0.0
23,0.222222,0.541667,0.118644,0.166667,0.0
24,0.138889,0.583333,0.152542,0.041667,0.0
25,0.194444,0.416667,0.101695,0.041667,0.0
26,0.194444,0.583333,0.101695,0.125000,0.0
27,0.250000,0.625000,0.084746,0.041667,0.0
28,0.250000,0.583333,0.067797,0.041667,0.0
29,0.111111,0.500000,0.101695,0.041667,0.0
...,...,...,...,...,...
120,0.722222,0.500000,0.796610,0.916667,2.0
121,0.361111,0.333333,0.661017,0.791667,2.0
122,0.944444,0.333333,0.966102,0.791667,2.0
123,0.555556,0.291667,0.661017,0.708333,2.0
124,0.666667,0.541667,0.796610,0.833333,2.0
125,0.805556,0.500000,0.847458,0.708333,2.0
126,0.527778,0.333333,0.644068,0.708333,2.0
127,0.500000,0.416667,0.661017,0.708333,2.0
128,0.583333,0.333333,0.779661,0.833333,2.0
129,0.805556,0.416667,0.813559,0.625000,2.0
130,0.861111,0.333333,0.864407,0.750000,2.0
131,1.000000,0.750000,0.915254,0.791667,2.0
132,0.583333,0.333333,0.779661,0.875000,2.0
133,0.555556,0.333333,0.694915,0.583333,2.0
134,0.500000,0.250000,0.779661,0.541667,2.0
135,0.944444,0.416667,0.864407,0.916667,2.0
136,0.555556,0.583333,0.779661,0.958333,2.0
137,0.583333,0.458333,0.762712,0.708333,2.0
138,0.472222,0.416667,0.644068,0.708333,2.0
139,0.722222,0.458333,0.745763,0.833333,2.0
140,0.666667,0.458333,0.779661,0.958333,2.0
141,0.722222,0.458333,0.694915,0.916667,2.0
142,0.416667,0.291667,0.694915,0.750000,2.0
143,0.694444,0.500000,0.830508,0.916667,2.0
144,0.666667,0.541667,0.796610,1.000000,2.0
145,0.666667,0.416667,0.711864,0.916667,2.0
146,0.555556,0.208333,0.677966,0.750000,2.0
147,0.611111,0.416667,0.711864,0.791667,2.0
148,0.527778,0.583333,0.745763,0.916667,2.0
149,0.444444,0.416667,0.694915,0.708333,2.0

In [41]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df_train, test_size=0.2)
train.head()

,sepal length (cm)_scaled,sepal width (cm)_scaled,petal length (cm)_scaled,petal width (cm)_scaled,target
123,0.555556,0.291667,0.661017,0.708333,2.0
116,0.611111,0.416667,0.762712,0.708333,2.0
34,0.166667,0.458333,0.084746,0.041667,0.0
27,0.250000,0.625000,0.084746,0.041667,0.0
4,0.194444,0.666667,0.067797,0.041667,0.0

In [43]:
from sklearn.linear_model import LogisticRegression

features = ['sepal length (cm)_scaled', 'sepal width (cm)_scaled', 'petal length (cm)_scaled', 'petal width (cm)_scaled']


log_reg = LogisticRegression()

# fit -> train
# features -> X, targets -> y
# predictions -> y_hat

log_reg = log_reg.fit(train[features], train['target'])

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [46]:
predictions = log_reg.predict(test[features])
predictions

array([2., 0., 2., 2., 0., 1., 1., 1., 2., 2., 2., 0., 0., 1., 2., 1., 1.,
       2., 0., 0., 0., 0., 1., 2., 2., 0., 0., 2., 0., 0.])

In [47]:
from sklearn.metrics import classification_report

print(classification_report(test['target'], predictions))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        12
         1.0       0.86      0.86      0.86         7
         2.0       0.91      0.91      0.91        11

   micro avg       0.93      0.93      0.93        30
   macro avg       0.92      0.92      0.92        30
weighted avg       0.93      0.93      0.93        30